nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    a.navbar-brand(href="#") FitLife Gym
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href="#home") Home
        li.nav-item
          a.nav-link(href="#classes") Classes
        li.nav-item
          a.nav-link(href="#trainers") Trainers
        li.nav-item
          a.nav-link(href="#contact") Contact
        if userName
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false")
              i.bi.bi-person-circle.me-1
              | #{userName}
            ul.dropdown-menu.dropdown-menu-end(aria-labelledby="navbarDropdown")
              li
                a.dropdown-item(href="/logout") Logout
        else
          li.nav-item
            a.btn.btn-primary.ms-3(href="/login") Login